body, h1, h2, h3, h4, h5, h6 {
    min-width: 480px;
    font-size: 1.6em;
}

#content {
    width: 95%;
    height: 80vh;
    margin: 0 auto;
}

.page-header {
    height: 10vh;
    padding-left: 3%;
}

@media only screen and (max-width: 576px) {
    body, h1, h2, h3, h4, h5, h6 {
        font-size: .3em;
    }
}

@media only screen and (max-width: 768px) {
    body, h1, h2, h3, h4, h5, h6 {
        font-size: .7em;
    }
}

@media only screen and (max-width: 992px) {
    body, h1, h2, h3, h4, h5, h6 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 1200px) {
    body, h1, h2, h3, h4, h5, h6 {
        font-size: 1.5em;
    }
}