<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web Task Manager</title>
  
  <link href="/scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="/scripts/jquery/dist/jquery.js"></script>
  <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
  <div class="page-header">
    <h1>Web Task Manager <small>manage the whole institution</small></h1>
  </div>
  <div id="content" class="row">
    <div class="form-container-wrapper">

      <div class="form-container .form-inline col-xs-5 col-sm-4 col-md-3 col-lg-3 col-centered">
        <header>
          <h2>Login</h2>
        </header>
        <form action="/login" method="post">
          <div class="form-group">
            <span class="glyphicon glyphicon-user"></span>
            <label for="formGroupExampleInput">Username</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username" name="username">
          </div>
          <div class="form-group">
            <span class="glyphicon glyphicon-lock"></span>
            <label for="formGroupExampleInput2">Password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password" name="password">
          </div>
          <div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>

      <div class="form-container .form-inline col-xs-5 col-sm-4 col-md-3 col-lg-3 col-centered">
        <header>
          <h2>...Or Register</h2>
        </header>
        <form action="/signin" method="post">
          <div class="form-group">
            <span class="glyphicon glyphicon-user"></span>
            <label for="formGroupInput">Username</label>
            <input type="text" class="form-control" id="formGroupInput" placeholder="Username" name="username">
          </div>
          <div class="form-group">
            <span class="glyphicon glyphicon-lock"></span>
            <label for="formGroupInput2">Password</label>
            <input type="password" class="form-control" id="formGroupInput2" placeholder="Password" name="password">
          </div>
          <div class="form-group">
            <span class="glyphicon glyphicon-lock"></span>
            <label for="formGroupInput3">Confirm Password</label>
            <input type="password" class="form-control" id="formGroupInput3" placeholder="Confirm" name="confirm">
          </div>
          <div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>

    </div> <!-- End of form container -->
  </div><!-- End content -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/scripts/jquery/dist/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    function submitLogin() {
      let username = $("#formGroupExampleInput").val();
      let password = $("#formGroupExampleInput2").val();
      $.post("/login", {
        username: username,
        password: password
      });
      console.log("maikati")
    }
  </script>
</body>

</html>