<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Web Task Manager</title>
	<link href="/scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="/scripts/jquery/dist/jquery.js">
	</script>
	<link href="/styles/home.css" rel="stylesheet">
</head>
<body>
	<div class="page-header">
		<h1>Web Task Manager <small>manage the whole institution</small></h1>
	</div>
	<div class="row" id="content">
		<div class="form-container .form-inline col-xs-5 col-sm-4 col-md-3 col-lg-3 col-centered">
			<h2>Login</h2>
			<form action="/login" method="post">
				<div class="form-group">
					<span class="glyphicon glyphicon-user"></span> <label for="formGroupExampleInput">Username</label> <input class="form-control" id="formGroupExampleInput" name="username" placeholder="Username" type="text">
				</div>
				<div class="form-group">
					<span class="glyphicon glyphicon-lock"></span> <label for="formGroupExampleInput2">Password</label> <input class="form-control" id="formGroupExampleInput2" name="password" placeholder="Password" type="password">
				</div>
				<div>
					<input class="btn btn-primary" type="submit" value="Submit">
				</div>
			</form>
		</div>
		<div class="form-container .form-inline col-xs-5 col-sm-4 col-md-3 col-lg-3 col-centered">
			<h2>...Or Register</h2>
			<form action="/signin" method="post">
				<div class="form-group">
					<span class="glyphicon glyphicon-user"></span> <label for="formGroupInput">Username</label> <input class="form-control" id="formGroupInput" name="username" placeholder="Username" type="text">
				</div>
				<div class="form-group">
					<span class="glyphicon glyphicon-lock"></span> <label for="formGroupInput2">Password</label> <input class="form-control" id="formGroupInput2" name="password" placeholder="Password" type="password">
				</div>
				<div class="form-group">
					<span class="glyphicon glyphicon-lock"></span> <label for="formGroupInput3">Confirm Password</label> <input class="form-control" id="formGroupInput3" name="confirm" placeholder="Confirm" type="password">
				</div>
				<div>
					<input class="btn btn-primary" type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div><!-- End content -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/scripts/jquery/dist/jquery.min.js">
	</script> <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/scripts/bootstrap/dist/js/bootstrap.min.js">
	</script>
</body>
</html>