<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Task Manager</title>

    <link href="/scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="page-header">
      <h1>Web Task Manager <small>manage the whole institution</small></h1>
    </div>
    <div id="content">
      
    </div> <!-- End content -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>