body {
    min-width: 410px;
}

.container {
    width: 400px;
    border: 1px solid #777;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    display: block;
}

#home-forms-container {
    display: block;
}

.container > div:first-child {
    align-content: center;
}

.container-small {
    width: 200px;
    display: block;
}

.counter {
    color: #fff;
    background-color: #babee0;
    margin: auto;
}

.navbar-nav > li > button {
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 30px;
    color: #777;
}
.community-container {
    display: flex;
    width: 400px;
    margin-left: 5px;
}
.container-small-right {
    float: right;
    border: 1px solid blue;
}
.container-small-left {
    float: left;
    border: 1px solid blue;    
}

#search-found {
    position: fixed;
    border: 1px solid #777;
    border-radius: 2px;
    width: 200px;
    z-index: 1;
    background-color: white;
    padding: 5px;
}

#search-found > input {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #777;
    border: none;
    background-color: transparent;
}
#search-found {
    background: #777;
    background: -webkit-linear-gradient(#E0E0E0,white);
    background: -o-linear-gradient(#E0E0E0,white);
    background: linear-gradient(#E0E0E0,white);
}
#search-found-content {
    padding-left: 5px;
}
#search-found-content ul {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

#search-found-content ul li {
    margin-bottom: 5px;
}

#search-found-content ul li a {
    text-decoration: none;
}

.jumbotron {
    padding: 0.5em 0.6em;
    background: #777; /* For browsers that do not support gradients */
 /* For Safari 5.1 to 6.0 */
 /* For Opera 11.1 to 12.0 */

    background: -webkit-linear-gradient(white, #E0E0E0);
    background: -o-linear-gradient(white, #E0E0E0);
    background: linear-gradient(white, #E0E0E0);
 /* For Firefox 3.6 to 15 */
 /* Standard syntax */
}

.jumbotron h1 {
    font-size: 2em;
}

.jumbotron p {
    font-size: 1.2em;
}