body {
    min-width: 460px;
    font-size: 15px;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.no-style {
    border: none;
    background: transparent;
    padding: 0px;
}

.row {
    margin:10px;
}

.to-show, #li-logout, #li-profile {
    display: none;
}

.panel-default > .panel-heading {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.fixed-body-height {
    height: 400px;
}

.fixed-table-body-height {
    height: 420px;
}

.fixed-row-height {
    height: 65px;
}
.priority-0 {
    color: green;
}

.priority-1 {
    color: #ffb366;
}

.priority-2 {
    color: red;
}

.circle {
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
    background: #777;
    background: -webkit-linear-gradient(#E0E0E0, white);
    background: -o-linear-gradient(#E0E0E0, white);
    background: linear-gradient(#E0E0E0, white);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

#home-forms-container {
    margin-top: 20px;
}

.content-header-top {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 100%;
    background: #777;
    background: -webkit-linear-gradient(#E0E0E0, white);
    background: -o-linear-gradient(#E0E0E0, white);
    background: linear-gradient(#E0E0E0, white);
}

.content-header-bottom {
    text-align: center;
    width: 100%;
    background: #777;
    background: -webkit-linear-gradient(white, #E0E0E0);
    background: -o-linear-gradient(white, #E0E0E0);
    background: linear-gradient(white, #E0E0E0);
}

.container>div:first-child {
    align-content: center;
}

.container-small {
    width: 200px;
    display: block;
}

.counter {
    display: inline;
    color: black;
    margin: auto;
    padding: 5px 13px 5px 13px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 10px;
}

.navbar-nav>li>button {
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 30px;
    color: #777;
}

.community-container {
    display: flex;
    width: 480px;
    margin-left: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.container-small-right {
    float: right;
}

.container-small-left {
    float: left;
}

#search-found {
    position: fixed;
    border: 1px solid #777;
    border-radius: 2px;
    width: 200px;
    z-index: 1;
    background-color: white;
    padding: 5px;
    background: #777;
    background: -webkit-linear-gradient(#E0E0E0, white);
    background: -o-linear-gradient(#E0E0E0, white);
    background: linear-gradient(#E0E0E0, white);
}

#task-view {
    z-index: 1;
    top: 10vh;
    position: fixed;
    max-height: 80vh;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 5px;
}

#search-found>input,
#task-view>input {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #777;
    border: none;
    background-color: transparent;
}

#search-found-content {
    padding-left: 5px;
}

#search-found-content ul {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

#search-found-content ul li {
    margin-bottom: 5px;
}

#search-found-content ul li a {
    text-decoration: none;
}

.jumbotron {
    padding: 0.5em 0.6em;
    margin-bottom: 0px;
    background: #777;
    /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    background: -webkit-linear-gradient(white, #E0E0E0);
    background: -o-linear-gradient(white, #E0E0E0);
    background: linear-gradient(white, #E0E0E0);
    /* For Firefox 3.6 to 15 */
    /* Standard syntax */
}

.jumbotron h1 {
    font-size: 2em;
}

.jumbotron p {
    font-size: 1.2em;
}

.panel-heading {
    font-size: 1.3em;
    font-weight: 200;
    padding: 5px;
}

.nginp.ng-dirty {
    background: lawngreen;
}

.nginp.ng-touched {
    background: lawngreen;
}