<!DOCTYPE html>
<html ng-app="app" ng-controller="AppController">

<head>
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/styles/app.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web Task Manager</title>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top example6">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/"><img src="/images/logo.png" style="display: inline" width="30" height="30" alt=""> Web Task Manager </a>
      </div>
      <div id="navbar6" class="navbar-collapse collapse">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input autocomplete="off" id="inp-search-colleagues" type="text" class="form-control" style="border-radius: 30px" placeholder="Find your colleagues...">
          </div>
          <button ng-click="searchCollegues()" type="submit" class="btn btn-default" style="border-radius: 30px" data-toggle="modal"
            data-target="#myModal">Search</button>
        </form>
        <ul class="nav navbar-nav navbar-right nav-options">
          <li class="nav-option"><a href="#/user/current/tasks">Tasks</a></li>
          <li class="nav-option"><a href="#/newTask">Create New Task</a></li>
          <li class="nav-option"><a href="#/user/current/community">Community</a></li>
          <li class="nav-option"><a href="#/user/current/requests">Requests</a></li>
          <li class="nav-option"><a href="#/user">Profile</a></li>
          <li class="nav-option"><a ng-click='logout()'>Logout</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="modal-title">Fould Users</h4>
        </div>
        <div class="modal-body" id="modal-content">
          <button class="btn btn-default btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div id="noty-container"></div>
  <div ng-view>
  </div>
  <!-- Load app libraries -->
  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/angular-route/angular-route.min.js"></script>
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/components/mustache.js/mustache.min.js"></script>
  <script src="/components/socket.io-client/dist/socket.io.min.js"></script>
  <!-- L oad app source code: main script, services, controllers, etc. -->
  <script src="/scripts/app.js"></script>
  <script src="/scripts/services/notification.js"></script>
  <script src="/scripts/services/statusCodeHandler.js"></script>
  <script src="/scripts/services/authorization.js"></script>
  <script src="/scripts/services/socket.js"></script>
  <script src="/scripts/services/ajax.js"></script>
  <script src="/scripts/services/retrievingData/user.js"></script>
  <script src="/scripts/services/navbarHandler.js"></script>
  <!--load controllers-->
  <script src="/scripts/controllers/AppController.js"></script>
  <script src="/scripts/controllers/HomeController.js"></script>
  <script src="/scripts/controllers/NewTaskController.js"></script>
  <script src="/scripts/controllers/UserCommunityController.js"></script>
  <script src="/scripts/controllers/UserTaskController.js"></script>
  <script src="/scripts/controllers/UserCurrent/UserProfileController.js"></script>
  <script src="/scripts/controllers/UserCurrent/UserCurrentCommunityController.js"></script>
  <script src="/scripts/controllers/UserCurrent/UserCurrentTasksController.js"></script>
  <script src="/scripts/controllers/UserCurrent/UserCurrentRequestsController.js"></script>
</body>

</html>