<script>
    if (!assign) {
        var assign = (assignTo, caller) => {
            const data = {
                taskId: '{{taskId}}',
                assignTo: assignTo
            };

            $.ajax({
                method: 'POST',
                dataType: 'json',
                url: '/task/assign_user',
                data: data,
                statusCode: {
                    500: (xhr) => {
                        noty({
                            text: xhr.responseJSON.err,
                            type: 'error'
                        });
                    },
                    200: (res) => {
                        noty({
                            text: res.msg,
                            type: 'success'
                        });
                        $(caller).parent().hide('fast');
                        $.get('app/templates/mustacheTemplates/assignedUserPanel.html').then(tmpl => {
                            let rendered = Mustache.render(tmpl, {
                                Username: assignTo,
                                taskId: {{taskId}}
                            });
                            $('#assigned-users-panel-group').after(rendered);
                        });
                    }
                }
            });
        }
    }


    (() => {
        let search = $('#inp-assign-search').val();
        $('#inp-assign-search').val('');
        if (search.length > 0) {
            $.get('/search?usersToAssign=' + search + '&toTaskId={{taskId}}')
                .then((data) => {
                    console.log(data);
                    let ul = jQuery('<ul/>', {
                        class: 'list-group'
                    });
                    if (data && data.length > 0) {
                        data.forEach((element) => {
                            let li = jQuery('<li/>', {
                                class: 'list-group-item text-center'
                            }).append(jQuery('<a/>', {
                                href: '#/user/' + element.Username,
                                text: element.Username
                            })).append(jQuery('<button/>', {
                                class: 'btn btn-default btn-xs',
                                text: 'Assign',
                                onclick: 'assign("' + element.Username + '", this)'
                            }));
                            ul.append(li);
                        });
                    } else {
                        let li = jQuery('<li/>', {
                            class: 'list-group-item',
                            text: 'No search results for "' + search + '"'
                        });
                        ul.append(li);
                    }

                    $('#modal-title').text("Found Users");
                    $('#modal-content').empty().append(ul);
                });
        }
    })();
</script>