<script>
    function assign(assignTo, self) {
        const data = {
            taskId: '{{taskId}}',
            assignTo: assignTo
        };

        $.post('/task/assign_user', data)
            .then(() => {
                $(self).hide();
            });
    }

    let search = $('#inp-assign-search').val();
    $('#inp-assign-search').val('');
    if (search.length > 0) {
        $.get('/search?text=' + search)
            .then((data) => {
                console.log(data);
                let ul = jQuery('<ul/>', {
                    class: 'list-group'
                });
                if (data && data.length > 0) {
                    data.forEach((element) => {
                        let li = jQuery('<li/>', {
                            class: 'list-group-item text-center'
                        }).append(jQuery('<a/>', {
                            href: '#/user/' + element.Username,
                            text: element.Username
                        })).append(jQuery('<button/>', {
                            class: 'btn btn-default btn-xs',
                            text: 'Assign',
                            onclick: 'assign("' + element.Username + '", this)'
                        }));
                        ul.append(li);
                    });
                } else {
                    let li = jQuery('<li/>', {
                        class: 'list-group-item',
                        text: 'No search results for "' + search + '"'
                    });
                    ul.append(li);
                }

                $('#modal-title').text("Found Users");
                $('#modal-content').empty().append(ul);
            });
    }
</script>