<div class="jumbotron">
    <h1>Hello and welcome to the Web Task Manager!</h1>
    <p> Here you can connect to your colleagues, create and assign tasks, communicate with your managers, employees and friends.</p>
</div>
<div id="home-forms-container">
    <div class="panel panel-default col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-1 col-xs-12">
        <div class="panel-heading">
            <p>Login</p>
        </div>
        <form>
            <div class="panel-body">
                <div class="panel panel-collapse" id="div-login-username">
                    <span class="glyphicon glyphicon-user"></span> <label for="inp-login-username">Username</label>
                    <input class="form-control" id="inp-login-username" name="username" placeholder="Username" type="text">
                </div>
                <div class="panel panel-collapse" id="div-login-password">
                    <span class="glyphicon glyphicon-lock"></span> <label for="inp-login-password">Password</label>
                    <input class="form-control" id="inp-login-password" name="password" placeholder="Password" type="password">
                </div>
                <div>
                    <input class="btn btn-primary btn-block" type="submit" ng-click="login()" value="Submit">
                </div>
            </div>
        </form>

    </div>
    <div class="panel panel-default col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-1 col-xs-12">
        <div class="panel-heading">
            <p>Register</p>
        </div>
        <from>
            <div class="panel-body">
                <div class="panel panel-collapse" id="div-signin-username">
                    <span class="glyphicon glyphicon-user"></span> <label for="inp-signin-username">Username</label>
                    <input class="form-control" id="inp-signin-username" name="username" placeholder="Username" type="text">
                </div>
                <div class="panel panel-collapse" id="div-signin-fullname">
                    <span class="glyphicon glyphicon-user"></span> <label for="inp-signin-fullname">Your full name</label>
                    <input class="form-control" id="inp-signin-fullname" name="username" placeholder="Username" type="text">
                </div>
                <div class="panel panel-collapse" id="div-signin-password">
                    <span class="glyphicon glyphicon-lock"></span> <label for="inp-signin-password">Password</label>
                    <input class="form-control" id="inp-signin-password" name="password" placeholder="Password" type="password">
                </div>
                <div class="panel panel-collapse" id="div-signin-confirm">
                    <span class="glyphicon glyphicon-lock"></span> <label for="inp-signin-confirm">Confirm Password</label>
                    <input class="form-control" id="inp-signin-confirm" name="confirm" placeholder="Confirm" type="password">
                </div>
                <div>
                    <input class="btn btn-primary btn-block" type="submit" ng-click="signin()" value="Submit">
                </div>
            </div>
        </from>
    </div>
</div>