<div class="form-container .form-inline col-xs-5 col-sm-4 col-md-3 col-lg-3 col-centered">
    <div class="content-header">
    <p>Login</p>
    </div>
    <form action="/login" method="post">
        <div class="form-group">
            <span class="glyphicon glyphicon-user"></span> <label for="formGroupExampleInput">Username</label> <input class="form-control" id="formGroupExampleInput" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <span class="glyphicon glyphicon-lock"></span> <label for="formGroupExampleInput2">Password</label> <input class="form-control" id="formGroupExampleInput2" name="password" placeholder="Password" type="password">
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>
<div class="form-container .form-inline col-xs-5 col-sm-4 col-md-3 col-lg-3 col-centered">
    <div class="content-header">
        <p>Or Register</p>
    </div>
    <form action="/signin" method="post">
        <div class="form-group">
            <span class="glyphicon glyphicon-user"></span> <label for="formGroupInput">Username</label> <input class="form-control" id="formGroupInput" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <span class="glyphicon glyphicon-lock"></span> <label for="formGroupInput2">Password</label> <input class="form-control" id="formGroupInput2" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <span class="glyphicon glyphicon-lock"></span> <label for="formGroupInput3">Confirm Password</label> <input class="form-control" id="formGroupInput3" name="confirm" placeholder="Confirm" type="password">
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>