<div class="jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>Crate a new task and assign it to your employees</h1>
    <p>That way they will see it in their "to-do" list.<br> Also they can update you on their progress on that task leave comments
        or re-assign it on their own employees.</p>
</div>
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-xs-12 centered">
    <div id="form-new-task" class="panel-group">
        <div class="form-group panel panel-default">
            <label class="content-header-top" for="inp-title">Title</label>
            <input type="text" class="form-control" id="inp-title" placeholder="Title of the new task">
        </div>
        <div class="form-group panel panel-default">
            <label for="inp-description" class="content-header-top">Description</label>
            <textarea type="text" cols="20" class="form-control" id="inp-description" placeholder="Description of you task..."></textarea>
        </div>
        <div class="form-group panel panel-default">
            <label for="inp-deadline" class="content-header-top">Deadline</label>
            <input type="datetime-local" id="inp-deadline" class="btn btn-default" name="deadline">
        </div>
        <div class="form-group panel panel-default centered">
            <label for="inp-progress" class="content-header-top">Progress in % (Default: 0)</label>
            <input class="btn btn-default" type="number" min="0" max="100" value="0" id="inp-progress" name="progress" placeholder="0">
        </div>
        <div class="form-group panel panel-default">
            <label for="inp-priority" class="content-header-top">Task Priority</label>
            <select class="form-control" id="inp-priority">
      <option value="0">Low</option>
      <option value="1">Medium</option>
      <option value="2">High</option>
    </select>
        </div>
        <div class="form-group panel panel-default">
            <div class="panel-heading content-header-top">
                <span>Repeatability of the new task.</span>
            </div>
            <label class="radio-inline">
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="0" checked>
        Only Once
      </label>
            <label class="radio-inline">
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="1">
        Every Day
      </label>
            <label class="radio-inline">
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="2">
        Every Week
      </label>
            <label class="radio-inline">
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="3">
        Every Month
      </label>
            <label class="radio-inline">
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="4">
        Every Year
      </label>
        </div>
        <div class="form-group panel panel-default">
            <label for="#" class="content-header-top">Assign employees</label>
            <input list="suggestions" name="search" id="inp-search" placeholder="Search for employee...">
            <datalist id="suggestions">
            </datalist>
            <input type="button" class="btn btn-default" value="Assign" ng-click="addToAssign()">
            <input type="button" class="btn btn-default" value="Remove" ng-click="removeFromAssign()"><br>
            <div class="panel">
                <textarea class="btn btn-default" disabled type="text" style="width: 90%" cols="30" id="inp-assignto" placeholder="People who will be assigned"></textarea>
            </div>
        </div>
        <div>
            <input type="button" class="btn btn-primary btn-block" value="Create Task" ng-click="createTask()">
        </div>
    </div>
</div>