<div class="custom-panel col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-xs-12 centered text-center">
    <div class="page-header">
        <h1>Create a new task<small> fill the form below</small></h1>
    </div>
    <form class="to-show" id="form-new-task">
        <div>
            <div>
                <div>
                    <span>Title</span>
                </div>
                <div class="form-group" id="div-inp-title">
                    <input type="text" class="form-control" id="inp-title" placeholder="Title of the new task">
                </div>
            </div>
            <div>
                <div>
                    <span>Description</span>
                </div>
                <div class="form-group" id="div-inp-description">
                    <textarea class="form-control" type="text" cols="20" class="form-control" id="inp-description" placeholder="Description of you task..."></textarea>
                </div>
            </div>
            <div>
                <div>
                    <span>Deadline</span>
                </div>
                <div class="form-group">
                    
                        <div style="overflow:hidden;">
                            <div>
                                <div id="datetimepicker12"></div>
                            </div>
                        </div>

                </div>
            </div>
            <div>
                <div>
                    <span>Progress in % (Default: 0)</span>
                </div>
                <div class="form-group" id="div-inp-progress">
                    <input class="form-control" type="number" min="0" max="100" value="0" id="inp-progress" name="progress"
                        placeholder="0">
                </div>
            </div>
            <div>
                <div>
                    <span>Task Priority</span>
                </div>
                <div>
                    <select class="form-control" id="inp-priority">
                    <option value="0">Low</option>
                    <option value="1">Medium</option>
                    <option value="2">High</option>
                </select>
                </div>
            </div>
            <div>
                <div>
                    <span>Repeatability of the new task.</span>
                </div>
                <div>
                    <label class="radio-inline">
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="0" checked>
        Only Once
      </label>
                    <label class="radio-inline">
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="1">
        Every Day
      </label>
                    <label class="radio-inline">
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="2">
        Every Week
      </label>
                    <label class="radio-inline">
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="3">
        Every Month
      </label>
                    <label class="radio-inline">
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="4">
        Every Year
      </label>
                </div>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary form-control" id="btn-newtask" value="Create Task" ng-click="createTask()">
            </div>
        </div>
    </form>
</div>