<div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Description</span>
            </div>
            <div class="panel-body">
                <span>{{Description}}</span>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Deadline</span>
            </div>
            <div class="panel-body">
                <span>{{Deadline}}</span>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>
                        Progress
                        <div id="form-progress">
                            <div class="form-group">
                                <label for="inp-progress"></label>
                                <input class="btn btn-default" name="newProgress" id="inp-progress" type="number" min="1" max="100" value="{{Progress}}">
                                <input type="button" class="btn btn-default" value="Edit" onclick='update()'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="progress">
                        <div id="p" class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="{{Progress}}" aria-valuemin="0"
                            aria-valuemax="100" style="width: {{Progress}}%">
                            {{Progress}}% Complete
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <span>Task Priority: {{PriorityStr}}</span>
        </div>
    </div>
    <script>
        function update() {
            let newP = $('#inp-progress').val();
            $.ajax({
                method: 'POST',
                url: '/task/{{TaskId}}/new-progress',
                dataType: 'json',
                data: {
                    newProgress: newP
                },
                success: (res) => {
                    noty({
                        text: res.msg,
                        type: 'success',
                        layout: 'topCenter',
                        timeout: 1000
                    });
                    document.getElementById('p').style.width = newP;
                },
                statusCode: {
                    500: (xhr) => {
                        noty({
                            text: xhr.responseJSON.msg,
                            type: 'error',
                            layout: 'topCenter',
                            timeout: 1000
                        });
                    }
                }
            });
        }
    </script>
</div>