<div ng-if="task.Creator_Username !== username">
    <ul id="main-nav-tabs" class="nav nav-tabs">
        <li id="nav-tab-requests" role="presentation"><a href="#/user/{{task.Creator_Username}}">{{task.Creator_Username}}</a></li>
        <li id="nav-tab-requests" role="presentation" class="active"><a href="#/user/task/{{task.TaskId}}">{{task.Creator_Username}}'s task</a></li>
    </ul>
</div>
<div>
    <div class="to-show panel-group col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div>
            <h2>{{task.Title}}</h2>
            <div ng-if="task.isOwner == false">
                <p>Creator: {{task.Creator_Username}}</p>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label for="inp-title" class="panel-heading">Title</label>
                    <input ng-if="task.isOwner" type="button" class="btn btn-default" ng-click="editTitle()" value="Edit">
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control nginp" id="inp-title" value="{{task.Title}}">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label for="inp-description" class="panel-heading">Description</label>
                    <input ng-if="task.isOwner" type="button" class="btn btn-default" ng-click="editDescription()" value="Edit">
                </div>
                <div class="panel-body">
                    <textarea type="text" cols="20" class="form-control nginp" id="inp-description">{{task.Description}}</textarea>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label for="inp-deadline">Deadline </label>
                    <input ng-if="task.isOwner" type="button" class="btn btn-default" ng-click="editDeadline()" value="Edit">
                </div>
                <div class="panel-body">
                    <div style="overflow:hidden;">
                        <div>
                            <div id="datetimepicker"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="inp-progress" class="panel-heading">Progress in %</label>
                            <input class="form-control" type="number" min="0" max="100" value="{{task.Progress}}" id="inp-progress" name="progress" placeholder="{{task.Progress}}">
                            <input ng-if="task.isAssigned || task.isOwner" type="submit" class="btn btn-default" ng-click="editProgress()" value="Edit">
                        </div>
                    </form>
                </div>
                <div class="panel-body">
                    <div class="progress">
                        <div id="progress-bar" class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="{{task.Progress}}"
                            aria-valuemin="0" aria-valuemax="100" style="width: {{task.Progress}}%; color: black;">
                            {{task.Progress}}% Complete
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label id="lbl-priority" for="inp-priority">Task Priority: {{task.PriorityStr}}</label>
                    <input ng-if="task.isOwner" type="button" class="btn btn-default" ng-click="editPriority()" value="Edit">
                </div>
                <div class="panel-body">
                    <select class="form-control" id="inp-priority">
                <option value="0">Low</option>
                <option value="1">Medium</option>
                 <option value="2">High</option>
            </select>
                </div>
            </div>
        </div>
    </div>
    <div class="to-show comments col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h2>Comments</h2>
        <div id="comment-panel-group" class="panel-group">
            <div id="comment-publication-panel" class="panel panel-default">
                <div class="panel-heading">
                    <span>Write a comment:</span>
                </div>
                <div>
                    <textarea name="comment_area" id="comment-area" cols="10"></textarea>
                    <input class="btn btn-default btn-block" type="button" value="Post" ng-click="postComment()">
                </div>
            </div>
            <div class="panel panel-default" ng-repeat="_comment in _comments">
                <div class="panel-heading">
                    <span>{{_comment.Author_Username}}</span>
                    <span class="pull-right">{{_comment.DateFormatted}}</span>
                </div>
                <div class="panel-body">
                    <p>{{_comment.Content}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="to-show assigned col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <h2>Assigned Users</h2>
        <div ng-if="task.isOwner" class="panel panel-default">
            <div class="panel-heading">
                <span>Assign your employees</span>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <input name="search" id="inp-assign-search" class="form-control" placeholder="Search for employee...">
                    <div class="input-group-btn">
                        <button ng-click="assignSearch()" type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        <i class="glyphicon glyphicon-search"></i>Search
                    </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" ng-switch="assignedUsers.length > 0">
            <div class="panel panel-default" ng-repeat="assigned in assignedUsers" ng-switch-when="true">
                <div class="panel-body">
                    <span>{{assigned.Username}}</span>
                    <a href="#/user/{{assigned.Username}}"><button class="btn btn-default">View Account</button></a>
                    <input class="btn btn-default" type="button" value="Remove" ng-click="removeUserAssignment(assigned.Username, task.TaskId, $event)">
                </div>
            </div>
            <div ng-switch-when="false" class="panel panel-default">
                <div class="panel-body">
                    <span>No users are assigned to this task yet</span>
                </div>
            </div>
        </div>
    </div>
</div>