<ul id="main-nav-tabs" class="nav nav-tabs">
    <li id="nav-tab-tasks" role="presentation"><a href="#/user/current/tasks">Tasks</a></li>
    <li id="nav-tab-community" role="presentation" class="active"><a href="#/user/current/community">Comunity</a></li>
    <li id="nav-tab-requests" role="presentation"><a href="#/user/current/requests">Requests</a></li>
</ul>
<div class="panel-group col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <h3>Your community</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Your Colleagues</span>
        </div>
        <div class="panel-body" ng-switch="colleagues.length > 0">
            <ul class="list-group" ng-switch-when="true">
                <li class="list-group-item" ng-repeat="colleague in colleagues">
                    <a href="#/user/{{colleague.Colleague}}">{{colleague.Colleague}}</a>
                    <div ng-if="managersAndEmployeesStrings.includes(colleague.Colleague) === false" class="btn-group">
                        <input type="button" class="btn btn-default btn-xs" ng-click="reqEmployee(colleague.Colleague)" value="Make Employee">
                        <input type="button" class="btn btn-default btn-xs" ng-click="reqManager(colleague.Colleague)" value="Make Manager">
                    </div>
                </li>
            </ul>
            <div ng-switch-when="false" class="panel">
                Find your colleagues and then will appear here!
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Your Managers</span>
        </div>
        <div class="panel-body" ng-switch="managers.length > 0">
            <ul class="list-group" ng-switch-when="true">
                <li class="list-group-item" ng-repeat="manager in managers">
                    <span>      
                        <a href="#/user/{{manager.Manager}}">{{manager.Manager}}</a>
                    </span>
                    <input type="button" class="btn btn-default btn-xs" value="Remove" ng-click="removeManager(manager.Manager, $event)">
                </li>
            </ul>
            <div ng-switch-when="false">
                Find your managers and they will appear here !
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Your Employees</span>
        </div>
        <div class="panel-body" ng-switch="employees.length > 0">
            <ul class="list-group" ng-switch-when="true">
                <li class="list-group-item" ng-repeat="employee in employees">
                    <span>
                        <a href="#/user/{{employee.Employee}}">{{employee.Employee}}</a>
                    </span>
                    <input type="button" class="btn btn-default btn-xs" value="Remove" ng-click="removeEmployee(employee.Employee, $event)">
                </li>
            </ul>
            <div ng-switch-when="false" class="panel">
                Find your Employees and they will appear here !
            </div>
        </div>
    </div>
</div>