<div class="to-show panel-group col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <h3>Your community</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Your Colleagues<span class="counter">{{colleaguesCount}}</span></p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Filter colleagues" id="inp-filter-colleagues">
                <div class="input-group-btn">
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-default" type="submit" ng-click="filterColleagues()"><i class="glyphicon glyphicon-search"></i> search</button>
                </div>
            </div>
        </div>
        <div class="panel-body fixed-body-height" ng-switch="colleagues.display">
            <div ng-switch-when="all" id="panel-community-colleagues">

                <ul class="list-group">
                    <li class="list-group-item fixed-row-height" ng-repeat="colleague in colleagues.data" ng-if="!colleague.IsManager && !colleague.IsEmployee">
                        <a href="#/user/{{colleague.Username}}">{{colleague.FullName}}<small> ({{colleague.Username}})</small></a>
                        <div class="btn-group pull-right">
                            <input ng-if="!colleague.IsEmployee && !colleague.IsManager && !colleague.RecievedEmployeeRequest && !colleague.RecievedManagerRequest"
                                type="button" class="btn btn-default btn-sm" ng-click="reqEmployee(colleague.Username)" value="Make Employee">
                            <input ng-if="!colleague.IsManager && !colleague.IsEmployee && !colleague.RecievedManagerRequest && !colleague.RecievedEmployeeRequest"
                                type="button" class="btn btn-default btn-sm" ng-click="reqManager(colleague.Username)" value="Make Manager">
                            <button style="border:none" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" ng-if="colleague.RecievedEmployeeRequest || colleague.RecievedManagerRequest"
                                title="Request Options"><span class="glyphicon glyphicon-cog"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-if="colleague.RecievedEmployeeRequest" ng-click="removeEmployeeRequest(colleague.Username)">
                                    <a>Remove employee request <span class="glyphicon glyphicon-remove"></span></a>
                                </li>
                                <li ng-if="colleague.RecievedManagerRequest" ng-click="removeManagerRequest(colleague.Username)">
                                    <a>Remove manager request<span class="glyphicon glyphicon-remove" ></span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <div class="input-group-btn text-center">
                    <input type="button" class="btn btn-default" value="Previous page" ng-click="previousColleaguesPage()">
                    <input type="button" class="btn btn-default" value="1" id="colleague-page" disabled>
                    <input type="button" class="btn btn-default" value="Next page" ng-click="nextColleaguesPage()">
                </div>

            </div>
            <div ng-switch-when="none" class="panel panel-default">
                Find your colleagues and then will appear here!
            </div>

            <div ng-switch-when="loading" class="text-center">
                <button class="btn btn-default btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            </div>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Your Managers<span class="counter">{{managersCount}}</span></p>
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Filter managers" id="inp-filter-managers">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="filterManagers()" data-toggle="modal" data-target="#myModal">
                            <i class="glyphicon glyphicon-search"></i> search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-body fixed-body-height" ng-switch="managers.display">
            <div ng-switch-when="all" id="panel-community-managers">
                <ul class="list-group">
                    <li class="list-group-item fixed-row-height" ng-repeat="manager in managers.data">
                        <span>      
                        <a href="#/user/{{manager.Username}}">{{manager.FullName}}<small> ({{manager.Username}})</small></a>
                    </span>
                        <input type="button" class="btn btn-default btn-xs" value="Remove" ng-click="removeManager(manager.Username, $event)">
                    </li>
                </ul>
                <div class="input-group-btn text-center">
                    <input type="button" class="btn btn-default" value="Previous page" ng-click="previousManagersPage()">
                    <input type="button" class="btn btn-default" value="1" id="managers-page" disabled>
                    <input type="button" class="btn btn-default" value="Next page" ng-click="nextManagersPage()">
                </div>
            </div>
            <div ng-switch-when="none" class="panel panel-default">
                Find your managers and they will appear here !
            </div>
            <div ng-switch-when="loading" class="text-center">
                <button class="btn btn-default btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="height: 300px">
        <div class="panel-heading">
            <p>Your Employees<span class="counter">{{employeesCount}}</span></p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Filter Employees">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="filter-employees">
                            <i class="glyphicon glyphicon-search"></i> search
                        </button>
                </div>
            </div>

        </div>
        <div class="panel-body fixed-body-height" ng-switch="employees.display">
            <div ng-switch-when="all" id="panel-community-employees">
                <ul class="list-group">
                    <li class="list-group-item fixed-row-height" ng-repeat="employee in employees.data">
                        <span>
                        <a href="#/user/{{employee.Username}}">{{employee.FullName}}<small> ({{employee.Username}})</small></a>
                    </span>
                        <input type="button" class="btn btn-default btn-xs" value="Remove" ng-click="removeEmployee(employee.Username, $event)">
                    </li>
                </ul>
                <div class="input-group-btn text-center">
                    <input type="button" class="btn btn-default" value="Previous page" ng-click="previousEmployeesPage()">
                    <input type="button" class="btn btn-default" value="1" id="current-page" disabled>
                    <input type="button" class="btn btn-default" value="Next page" ng-click="nextEmployeesPage()">
                </div>
            </div>
            <div ng-switch-when="none" class="panel panel-default">
                Find your Employees and they will appear here !
            </div>
            <div ng-switch-when="loading" class="text-center">
                <button class="btn btn-default btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            </div>
        </div>
    </div>
</div>