<div class="page-header">
    <h1>{{user.FullName}} <small>{{user.Username}}</small></h1>
</div>

<div class="to-show">
    <div class="panel-group col-lg-3 col-md-3 col-sm-10 col-xs-10">
        <div class="panel panel-default btn-group-vertical btn-block">
            <input ng-if="!user.IsColleague" class="btn btn-default btn-block" type="button" value="Add Colleague" ng-click="inviteColleague(user.Username)"
            />
            <input ng-if="user.IsColleague" class="btn btn-default btn-block" type="button" value="Remove Colleague" ng-click="removeColleague(user.Username)"
            />
            <input ng-if="!user.IsManager && !user.IsEmployee && user.IsColleague" class="btn btn-default btn-block" type="button" value="Make Manager" ng-click="reqManager(user.Username)"
            />
            <input ng-if="!user.IsEmployee && !user.IsManager && user.IsColleague" class="btn btn-default btn-block" type="button" value="Make Employee"
                ng-click="reqEmployee(user.Username)" />
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><span>{{user.FullName}}'s Managers</span></div>
            <div class="panel-body" ng-switch="managers.display">
                <div ng-switch-when="all" id="panel-community-managers">
                    <ul class="list-group">
                        <li class="list-group-item fixed-row-height" ng-repeat="manager in managers.data">
                            <span>      
                        <a href="#/user/{{manager.Username}}">{{manager.FullName}}<small> ({{manager.Username}})</small></a>
                    </span>
                        </li>
                    </ul>
                    <div class="input-group-btn text-center">
                        <button type="button" class="btn btn-default" ng-click="previousManagersPage()"><span class="glyphicon glyphicon-menu-left"></span> </button>
                        <input type="button" class="btn btn-default" value="1" id="managers-page" disabled>
                        <button type="button" class="btn btn-default" ng-click="nextManagersPage()"><span class="glyphicon glyphicon-menu-right"></span> </button>

                    </div>
                </div>
                <div ng-switch-when="none" class="panel panel-default">
                    {{user.FullName}} has no managers yet.
                </div>
                <div ng-switch-when="loading" class="text-center">
                    <button class="btn btn-default btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><span>{{user.FullName}}'s Employees</span></div>
            <div class="panel-body" ng-switch="employees.display">
                <div ng-switch-when="all" id="panel-community-employees">
                    <ul class="list-group">
                        <li class="list-group-item fixed-row-height" ng-repeat="employee in employees.data">
                            <span>
                        <a href="#/user/{{employee.Username}}">{{employee.FullName}}<small> ({{employee.Username}})</small></a>
                    </span>
                        </li>
                    </ul>
                    <div class="input-group-btn text-center">
                        <button type="button" class="btn btn-default" ng-click="previousEmployeesPage()"><span class="glyphicon glyphicon-menu-left"></span> </button>
                        <input type="button" class="btn btn-default" value="1" id="current-page" disabled>
                        <button type="button" class="btn btn-default" ng-click="nextEmployeesPage()"><span class="glyphicon glyphicon-menu-right"></span> </button>
                    </div>
                </div>
                <div ng-switch-when="none" class="panel panel-default">
                    {{user.FullName}} has no employees yet.
                </div>
                <div ng-switch-when="loading" class="text-center">
                    <button class="btn btn-default btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{user.FullName}}'s to-do list
                    <div class="counter">{{tasksTodo.length}}</div>
                </h2>
            </div>
            <div class="panel-body" ng-switch="tasksTodo.length > 0">
                <table class="table table-hover" ng-switch-when="true">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Deadline</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in tasksTodo">
                            <td><a href="#/user/task/{{task.TaskId}}">{{task.Title}}</a></td>
                            <td><a href="#/user/task/{{task.TaskId}}">{{task.Description}}</a></td>
                            <td><a href="#/user/task/{{task.TaskId}}">{{task.DeadlineFormatted}}<a></td>
                    </tr>
                </tbody>
            </table>
            <div class="panel" ng-switch-when="false">
                <span>{{user.FullName}} has no tasks to do yet.</span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{user.FullName}}'s created tasks
                <div class="counter">{{tasksCreated.length}}</div>
            </h2>
        </div>
        <div class="panel-body" ng-switch="tasksCreated.length > 0">
            <table class="table table-hover" ng-switch-when="true">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="task in tasksCreated">
                        <td><a href="#/user/task/{{task.TaskId}}">{{task.Title}}</a></td>
                            <td><a href="#/user/task/{{task.TaskId}}">{{task.Description}}</a></td>
                            <td><a href="#/user/task/{{task.TaskId}}">{{task.DeadlineFormatted}}</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel" ng-switch-when="false">
                    <span>{{user.FullName}} has no tasks to do yet.</span>
                </div>
            </div>
        </div>
    </div>
</div>