<h1>Begin to manage like a boss!</h1>

<div class="container-small">
    <span>Your Managers</span>
    <ul>
        <li ng-repeat="manager in managers">
            <a href="#/user/community/{{manager.Manager}}">{{manager.Manager}}</a>
        </li>
    </ul>
</div>
<div>
    <span>Your community</span>
</div>
<div class="container-small">
    <span>Your Employees</span>
    <ul>
        <li ng-repeat="employee in employees">
            <a href="#/user/community/{{employee.Employee}}">{{employee.Employee}}</a>
        </li>
    </ul>
</div>

<div class="container-small">
    <span>People who want you to be their employee</span>
    <ul>
        <li ng-repeat="employeeReq in employeesReq">
            <span>{{employeeReq.User_Sent}}</span>
            <input type="button" class="btn" value="Accept" ng-click="acceptReqEmployee(employeeReq.User_Sent)">
        </li>
    </ul>
</div>
<div>
    <span>Requests</span>
</div>
<div class="container-small">
    <span>People who want you to be their manager</span>
    <ul>
        <li ng-repeat="managerReq in managersReq">
            <span>{{managerReq.User_Sent}}</span>
            <input type="button" class="btn" value="Accept" ng-click="acceptReqManager(managerReq.User_Sent)">
        </li>
    </ul>
</div>
<div class="container">
    <div>
        <a class="btn btn-primary" href="#/newTask">New Task</a>
    </div>
    <h3>Your tasks to-do<span class="counter">{{tasksTodo.length}}</span></h3>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Deadline</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasksTodo">
                    <td>{{task.Title}}</td>
                    <td>{{task.Description}}</td>
                    <td>{{task.Deadline}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <div>
        <a class="btn btn-primary" href="#/newTask">New Task</a>
    </div>
    <h3>Your created tasks<span class="counter">{{tasksCreated.length}}</span></h3>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Deadline</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasksCreated">
                    <td>{{task.Title}}</td>
                    <td>{{task.Description}}</td>
                    <td>{{task.Deadline}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>