<div class="to-show panel-group col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <h3>Requests</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p><small>People who claim to be your colleagues</small><span class="counter">{{colleagueReqs.length}}</span></p>
        </div>
        <div class="panel-body" ng-switch="colleagueReqs.length > 0">
            <ul class="list-group" ng-switc-when="true">
                <li class="list-group-item" ng-repeat="colleagueReq in colleagueReqs">
                    <span>{{colleagueReq.FullName}} <small>({{colleagueReq.Username}})</small></span>
                    <div class="input-group-btn">                       
                    <input type="button" class="btn btn-default btn-xs" value="Accept" ng-click="acceptReqColleague(colleagueReq.Username, $event, this)">
                    <input type="button" class="btn btn-default btn-xs" value="Decline" ng-click="declineReqColleague(colleagueReq.Username, $event, this)">
                    </div>
                </li>
            </ul>
            <div class="panel" ng-switch-when="false">
                You have no requests yet.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p><small>People who want you to be their employee</small><span class="counter">{{employeesReq.length}}</span></p>
        </div>
        <div class="panel-body" ng-switch="employeesReq.length > 0">
            <ul class="list-group" ng-switch-when="true">
                <li class="list-group-item" ng-repeat="employeeReq in employeesReq">
                    <span>{{employeeReq.FullName}} <small>({{employeeReq.User_Sent}})</small></span>
                    <div class="input-group-btn">   
                    <input type="button" class="btn btn-default btn-xs" value="Accept" ng-click="acceptReqEmployee(employeeReq.User_Sent, $event, this)">
                    <input type="button" class="btn btn-default btn-xs" value="Decline" ng-click="declineReqEmployee(employeeReq.User_Sent, $event, this)">
                    </div>                    
                </li>
            </ul>
            <div ng-switch-when="false" class="panel">
                Nobody wants to be your manager yet.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p><small>People who want you to be their manager</small><span class="counter">{{managersReq.length}}</span></p>
        </div>
        <div class="panel-body" ng-switch="managersReq.length > 0">
            <ul class="list-group" ng-switch-when="true">
                <li class="list-group-item" ng-repeat="managerReq in managersReq">
                    <span>{{managerReq.FullName}}<small> ({{managerReq.User_Sent}})</small></span>
                    <div class="input-group-btn">                       
                    <input type="button" class="btn btn-default btn-xs" value="Accept" ng-click="acceptReqManager(managerReq.User_Sent, $event)">
                    <input type="button" class="btn btn-default btn-xs" value="Decline" ng-click="declineReqManager(managerReq.User_Sent, $event)">
                    </div>
                </li>
            </ul>
            <div ng-switch-when="false" class="panel">
                Nobody wants to be your employee yet.
            </div>
        </div>
    </div>
</div>