<div class="to-show panel-group col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <h3>Your community</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>All<span class="counter">{{colleaguesCount}}</span></p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Filter colleagues" id="inp-filter-colleagues">
                <div class="input-group-btn">
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-default" type="submit" ng-click="filterColleagues()"><i class="glyphicon glyphicon-search"></i> search</button>
                </div>
            </div>
        </div>
        <div class="panel-body fixed-body-height" ng-switch="colleagues.display">
            <div ng-switch-when="all" id="panel-community-colleagues">

                <ul class="list-group">
                    <li class="list-group-item fixed-row-height" ng-repeat="colleague in colleagues.data">
                        <a href="#/user/{{colleague.Username}}">{{colleague.FullName}}<small> ({{colleague.Username}}) <small ng-if="colleague.IsManager" style="color: red"> Manager</small> <small ng-if="colleague.IsEmployee" style="color: green"> Employee</small></small>  </a>
                        <div class="btn-group pull-right">
                            <input ng-if="!colleague.IsEmployee && !colleague.IsManager && !colleague.RecievedEmployeeRequest && !colleague.RecievedManagerRequest"
                                type="button" class="btn btn-default btn-sm" ng-click="reqEmployee(colleague.Username)" value="Make Employee">
                            <input ng-if="!colleague.IsManager && !colleague.IsEmployee && !colleague.RecievedManagerRequest && !colleague.RecievedEmployeeRequest"
                                type="button" class="btn btn-default btn-sm" ng-click="reqManager(colleague.Username)" value="Make Manager">
                            <button style="border:none" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" ng-if="colleague.RecievedEmployeeRequest || colleague.RecievedManagerRequest"
                                title="Request Options"><span class="glyphicon glyphicon-cog"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-if="colleague.RecievedEmployeeRequest" ng-click="removeEmployeeRequest(colleague.Username)">
                                    <a><span>Remove employee request  </span><span class="glyphicon glyphicon-remove"></span></a>
                                </li>
                                <li ng-if="colleague.RecievedManagerRequest" ng-click="removeManagerRequest(colleague.Username)">
                                    <a><span>Remove manager request   </span><span class="glyphicon glyphicon-remove" ></span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <div class="input-group-btn text-center">
                    <button type="button" class="btn btn-default" value="Previous page" ng-click="previousColleaguesPage()"><span class="glyphicon glyphicon-menu-left"></span> </button>
                    <input type="button" class="btn btn-default" value="1" id="colleague-page" disabled>
                    <button type="button" class="btn btn-default" ng-click="nextColleaguesPage()"> <span class="glyphicon glyphicon-menu-right"></span> </button>
                </div>

            </div>
            <div ng-switch-when="none" class="panel panel-default">
                Find your colleagues and then will appear here!
            </div>

            <div ng-switch-when="loading" class="text-center">
                <button class="btn btn-default btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            </div>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Your Managers<span class="counter">{{managersCount}}</span></p>
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Filter managers" id="inp-filter-managers">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="filterManagers()" data-toggle="modal" data-target="#myModal">
                            <i class="glyphicon glyphicon-search"></i> search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-body fixed-body-height" ng-switch="managers.display">
            <div ng-switch-when="all" id="panel-community-managers">
                <ul class="list-group">
                    <li class="list-group-item fixed-row-height" ng-repeat="manager in managers.data">
                        <a href="#/user/{{manager.Username}}">{{manager.FullName}}<small> ({{manager.Username}})</small></a>
                        <div class="pull-right">
                            <button style="border:none" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                title="Options"><span class="glyphicon glyphicon-cog"></span></button>
                            <ul class="dropdown-menu list-group" role="menu">
                                <li ng-click="removeManager(manager.Username, $event)" class="list-group-item">
                                    <a>Remove from managers    <span class="glyphicon glyphicon-remove pull-right"></span></a>
                                </li>
                                <li ng-click="removeColleague(manager.Username, $event)" class="list-group-item">
                                    <a>Remove from colleagues  <span class="glyphicon glyphicon-remove pull-right"></span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="input-group-btn text-center">
                    <button type="button" class="btn btn-default" ng-click="previousManagersPage()"> <span class="glyphicon glyphicon-menu-left"></span> </button>
                    <input type="button" class="btn btn-default" value="1" id="managers-page" disabled>
                    <button type="button" class="btn btn-default" ng-click="nextManagersPage()"> <span class="glyphicon glyphicon-menu-right"></span> </button>
                </div>
            </div>
            <div ng-switch-when="none" class="panel panel-default">
                Find your managers and they will appear here !
            </div>
            <div ng-switch-when="loading" class="text-center">
                <button class="btn btn-default btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="height: 300px">
        <div class="panel-heading">
            <p>Your Employees<span class="counter">{{employeesCount}}</span></p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Filter Employees">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="filter-employees">
                            <i class="glyphicon glyphicon-search"></i> search
                        </button>
                </div>
            </div>
        </div>
        <div class="panel-body fixed-body-height" ng-switch="employees.display">
            <div ng-switch-when="all" id="panel-community-employees">
                <ul class="list-group">
                    <li class="list-group-item fixed-row-height" ng-repeat="employee in employees.data">
                        <a href="#/user/{{employee.Username}}">{{employee.FullName}}<small> ({{employee.Username}})</small></a>
                        <div class="pull-right">
                            <button style="border:none" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                title="Options"><span class="glyphicon glyphicon-cog"></span></button>
                            <ul class="dropdown-menu" role="menu" class="list-group">
                                <li ng-click="removeEmployee(employee.Username, $event)" class="list-group-item">
                                    <a>Remove from employees  <span class="glyphicon glyphicon-remove pull-right"></span></a>
                                </li>
                                <li ng-click="removeColleague(employee.Username, $event)" class="list-group-item">
                                    <a>Remove from colleagues <span class="glyphicon glyphicon-remove pull-right" ></span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="input-group-btn text-center">
                    <button type="button" class="btn btn-default" ng-click="previousEmployeesPage()"> <span class="glyphicon glyphicon-menu-left"></span> </button>
                    <input type="button" class="btn btn-default" value="1" id="current-page" disabled>
                    <button type="button" class="btn btn-default" ng-click="nextEmployeesPage()"> <span class="glyphicon glyphicon-menu-right"></span> </button>
                </div>
            </div>
            <div ng-switch-when="none" class="panel panel-default">
                Find your Employees and they will appear here !
            </div>
            <div ng-switch-when="loading" class="text-center">
                <button class="btn btn-default btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            </div>
        </div>
    </div>
</div>