<!--div id="{{Username}}-assignment-panel" class="panel panel-default">
    <div class="panel-body">
        <span>{{Username}}</span>
        <a href="#/user/{{Username}}"><button class="btn btn-default btn-sm">View Account</button></a>
        <input class="btn btn-default btn-sm" type="button" value="Remove" onclick="remove{{Username}}Assignment({{taskId}})">
    </div>
    <script>
        function remove{{Username}}Assignment(taskid) {

             let reqData = {
            removeAssignment: '{{Username}}'
        };

        $.ajax({
            method: "POST",
            url: '/task/' + taskid,
            data: reqData,
            success: () => {
                $('#{{Username}}-assignment-panel').hide('fast');
                noty({
                text: 'Removed {{Username}} from assigned users',
                type: 'success',
                layout: 'topCenter',
                timeout: 1000
            });
            }
        });

        }
        
    </script>
</div-->

<div class="panel panel-default" id="{{Username}}-assignment-panel">
    <div class="panel-body border-left">
        <div>
            <a href="#/user/{{Username}}" class="pull-left">
                <div class="profile-thumbnail" style="background-image:url('/uploads/avatar?username={{Username}}');"></div>
            </a>
        </div>
        <span class="pull-left" style="margin-top: 10px; margin-left:10px; display: inline-block; vertical-align: middle; line-height: normal;">{{Username}}</span>
        <a href="#/user/{{assigned.Username}}"><button class="btn btn-default btn-sm pull-right">View Account</button></a>
        <input class="btn btn-default btn-sm pull-right" type="button" value="Remove" onclick="remove{{Username}}Assignment({{taskId}})">
    </div>
</div>

<script>
    function remove{{Username}}Assignment(taskid) {

        let reqData = {
            removeAssignment: '{{Username}}'
        };

        $.ajax({
            method: "POST",
            url: '/task/' + taskid,
            data: reqData,
            success: () => {
                $('#{{Username}}-assignment-panel').hide('fast');
                noty({
                    text: 'Removed {{Username}} from assigned users',
                    type: 'success',
                    layout: 'topCenter',
                    timeout: 1000
                });
            }
        });

    }
</script>