<div>
    <div class="text-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Description</span>
            </div>
            <div class="panel-body priority-{{Priority}}">
                <p>{{Description}}</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Deadline</span>
            </div>
            <div class="panel-body priority-{{Priority}}">
                <span>{{DeadlineFormatted}}</span>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>
                        Progress
                        <div id="form-progress">
                            <div class="form-group">
                                <label for="inp-progress"></label>
                                <input class="btn btn-default" name="newProgress" id="inp-progress" type="number" min="1" max="100" value="{{Progress}}">
                                <input type="button" class="btn btn-default" value="Edit" onclick='update()'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="progress">
                        <div id="prog-barr" class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="{{Progress}}" aria-valuemin="0"
                            aria-valuemax="100" style="width: {{Progress}}%">
                            {{Progress}}% Complete
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default priority-{{Priority}}">
            <div class="">
                <span>Task Priority: {{PriorityStr}}</span>
            </div>
        </div>
    </div>
    <script>
        function update() {
            let newP = $('#inp-progress').val();
            $.ajax({
                method: 'POST',
                url: '/task/{{TaskId}}',
                dataType: 'json',
                data: {
                    progress: newP
                },
                success: (res) => {
                    noty({
                        text: res.msg,
                        type: 'success'
                    });
                    $('#prog-barr').css('width', newP + '%').html(newP + '% Complete');
                    $('#todo-task-progress-{{TaskId}}').css('width', newP + '%').html(newP + '% Complete');
                },
                statusCode: {
                    500: (xhr) => {
                        noty({
                            text: xhr.responseJSON.msg,
                            type: 'error'
                        });
                    }
                }
            });
        }
    </script>
</div>